@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.a {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 46%);
border-radius: 15px;}

    .a ul {
        display: flex;
        gap: 40px;
        color: white;
        padding: 10px;
        border-radius: 20px;
        font-size: 1rem;
        list-style: none;
        align-items: baseline;
      }
      a{text-decoration: none;
    color: aliceblue;}

    li:first-child {
        font-size: 3rem;
        font-family: "Edu AU VIC WA NT Guides", cursive;}
      
      .piano{width: 100px;
        height: 100px;
    border-radius: 15px;}

    @media (min-width: 842px) {
        .two {
          display: none;
        }
        label {
          display: none;
        }
        label + ul {
          display: none;
        }}
      
      
  
      input[type="checkbox"] {
        display: none;
      }
      @media(max-width: 842px) {.a{display: none;}}


      @media (max-width: 842px) {
        .b {
          display: none;
        }
        label {
          width: 80px;
          height: 50px;
          border-radius: 20px;
          background-color: rgb(232, 232, 232);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .b {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 46%)
          padding-left: 10px;
          padding-right: 10px;
          padding: 20px;
        }
        .b ul {
          display: none;
        }
        input[type="checkbox"]:checked + label {
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 46%);
          color: white;
        }
      
        input[type="checkbox"]:checked + label + ul {
          display: flex;
          list-style: none;
          gap: 60px;
          background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 46%);
          color: white;
          padding: 30px;
          position: absolute;
          top: 120px;
          width: 70%;
          border-radius: 20px;
        }
        .b ul li {
          border: 1px solid;
          padding: 5px;
          border-radius: 5px;
          padding: 5px;
        }
      }
      @media (max-width: 723px) {
        input[type="checkbox"]:checked + label + ul {
          top: 120px;
          flex-direction: column;
          text-align: center;
        }
        input[type="checkbox"]:checked + label + ul li {
          border: 2px solid;
          border-radius: 20px;
          padding: 20px;
        }
      }

    body{background-image: url("https://cdn.pixabay.com/photo/2016/11/18/15/01/piano-1835179_960_720.jpg");
    background-repeat: no-repeat;
/* background-size: cover; */
max-width: 100%;
max-height: 400px;
background-size:cover;


}

.para1{color: aliceblue; 
padding: 90px;
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  word-spacing: 4px;

}

body{background-color: rgb(11, 18, 44);}

footer{display: flex;
justify-content: space-around;}

h4{color: aliceblue;}
p{color: aliceblue;}
a{display: flex;
  flex-direction: column;
}

@media(max-width:842px){footer{display: flex;
flex-direction: column-reverse;}}

